In [1]:
Human_choice = "Rock"
Computer_choice = "Paper"

In [ ]:
Human_choice = "Rock"
Computer_choice = "Paper"
value = 10
price = - 11.1

print(type(Human_choice))
print(type(Computer_choice))
print(type(value))
print(type(price))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
name = input("Enter your Name: ")
print(name)
age = int(input("Enter your Age: "))
print(age)
price = float(input("Enter your jacket Price: "))
print(price)

print("Hello My Name is",name," and my Age is  ", age ,"My Jacket Price is" ,price)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
name = 'Afaq'
number = 10
number2 = 10

print((number*name) + 'Nothing')
print(number//number2)#Integer division sign '//'

AfaqAfaqAfaqAfaqAfaqAfaqAfaqAfaqAfaqAfaqNothing
1

In [ ]:
def choice():
    Human_choice = "Rock"
    Computer_choice = "Paper"

    return Human_choice

response = choice() 
print(response)

Rock

In [ ]:
string = "Afaq Ahmad khan"
ch = string[1:4]
print(ch)

name = "khan"
print(name[1:2])

name.endswith("n" and "h") 
change = name.capitalize()
print(change)
print(name)

name.replace("h", "o")

faq
h
Khan
khan

'koan'

In [ ]:
string = " In the world of programming, Python is considered one of the most versatile " \
"and beginner-friendly languages. It is widely used in web development, " \
"data science, artificial intelligence, automation, and much more."


string.find("data science")
# string.replace("data science", "ai")

length = len(string)
print(length)

213

In [ ]:
list = ["Afaq", 22, 3.6, "Khan"]
list.append("Babar")
print(list)

list.insert(1, "Ahmad")
print(list)

list.reverse()
print(list)

list.remove("Khan")
print(list)

list.pop(4)
print(list)

['Afaq', 22, 3.6, 'Khan', 'Babar']
['Afaq', 'Ahmad', 22, 3.6, 'Khan', 'Babar']
['Babar', 'Khan', 3.6, 22, 'Ahmad', 'Afaq']
['Babar', 3.6, 22, 'Ahmad', 'Afaq']
['Babar', 3.6, 22, 'Ahmad']

In [ ]:
tup = (1,)
print(type(tup))

<class 'tuple'>

In [ ]:
goalStore = []

goal1 = input("Enter 1st Goal: ")
goal2 = input("Enter 2st Goal: ")
goal3 = input("Enter 3st Goal: ")

goalStore.append(goal1)
goalStore.append(goal2)
goalStore.append(goal3)

print(goalStore)

['4', '4', '4']

In [ ]:
list1 = [1, 2, 3, 2, 1]
list2 = ["r", "a", "c", "e", "c","a","r"]

copied1 = list1.copy()
copied2 = list2.copy()

copied1.reverse()
copied2.reverse()

if list1 == copied1 and list2 == copied2:
    print("The list is Palindrome")
else:
    print("No")

The list is Palindrome

In [ ]:
set1 = {1,2,4,5}
set2 = {4,5,6,7}

intersection = set1.intersection(set2)
print(intersection)

union = set1.union(set2)
print(union)

classroom = {"Python", "Java", "C++", "C#", "JavaScript", "Python", "C#", "Java" }
print(len(classroom))

{4, 5}
{1, 2, 4, 5, 6, 7}
5

In [ ]:
grade = {}

subject = input("Enter Subject :")
marks = input("Enter Marks:")

grade.update({subject:marks})

print(grade)

{'4': '4'}

In [ ]:
number = int(input("Enter any Number:"))

count = 1
while count <= 10:
    print(number , "x" , count , "=" , number*count)
    count+=1

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]

count = 0

while count < len(list):
    print(list[count])
    count+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,10)

num = int(input("Enter any Number:"))

count = 0
while count < len(tup):
    if(num == tup[count]):
        print(num, "is found")
    count+=1

7 is found

In [ ]:
list = [10, 20, 40 , 50, 60]

number = int(input("Enter anf Number:"))
for num in list:
    if(number == num):
        print(number,"is present in the list")

60 is present in the list

In [ ]:
num = 5
for i in range(1,11):
    print(num, "x", i,"=",num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
n = int(input("Enter any Number:"))

for fact in range(1, n):
    fact*=n
    
print("Factorial of", n, "is", fact)

Factorial of 5 is 20

In [ ]:
print("Afaq Ahmad", end=" ")
print("khan")

Afaq Ahmad khan

In [ ]:
list = ["Afaq", "Ahmad", "Khan", 22, 4]

def listlength(list):
    return len(list)

listlength(list)

def elementsInList(list):
    for item in list:
        print(item, end=" ")

elementsInList(list)

Afaq Ahmad Khan 22 4

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(10)

3628800

In [ ]:
usd  = float(input("Enter Pakistani Rupees:"))


def currencyConverter(usd):

    convert = usd * 282.40
    return convert

store = currencyConverter(usd)

print(store , "PK")

5648.0 PK

In [ ]:
num = int(input("Enter any Number:"))

def evenOdd(num):
    if num % 2 == 0:
        return "EVEN"
    else:
        return "ODD"

evenOdd(num)

'ODD'

In [ ]:
n = int(input("Enter Numbers:"))

def naturalNumber(n):
    if n == 0:
       return 0
    else:
        return n + naturalNumber(n-1)

store = naturalNumber(n)
print(store)

def naturalList():
    if n == 0:
        return []
    else:
        return [n] +  naturalNumber(n-1)

9

In [ ]:
list1 = ["Afaq", "Ahmad", "khan"]

def listElement(list1, index=0):
    if index == len(list1):
       return 
    print(list1[index])
    listElement(list1, index + 1)
       
listElement(list1)

Afaq
Ahmad
khan

In [ ]:
f = open("name.txt", 'r')
data = f.read(10)
print(data)

Once upon

In [ ]:
f = open("name.txt", 'a')
f.write("This is Afaq Ahmad Khan")

23

In [18]:
f = open("name.txt", 'w')
f.write("Me")
f.close()

In [1]:
import os
os.remove("name.txt")

In [4]:
with open("practice.txt", 'w') as f:
    f.write("Hi Everyone\nwe are learning File I/O\nThis is a practice file\nI am Learning Java\n I Love Java")

In [7]:
with open("practice.txt", 'r') as f:
    data = f.read()
    print(data)

Hi Everyone
we are learning File I/O
This is a practice file
I am Learning Java
 I Love Java

In [13]:
with open("practice.txt", 'r') as f:
    data = f.read()
    print(data)

newdata = data.replace("Java","Python")
print(newdata)

with open("practice.txt", 'w') as f:
    f.write(newdata)

Hi Everyone
we are learning File I/O
This is a practice file
I am Learning Java
 I Love Java
Hi Everyone
we are learning File I/O
This is a practice file
I am Learning Python
 I Love Python

In [33]:
with open("practice.txt", 'r') as f:
    data = f.read()
    # print(data)


if (data.find("x") != -1):
    print("Found")
else:
    print("not Found")

not Found

In [11]:
def firstOccurrence():
    line = 1
    word = "Love"
    data  = True
    with open("practice.txt", 'r') as f:
        while(data):
             data = f.readline()
             if (word in data):
                 print(line)
                 return
             line+=1
    return "Not Found"

firstOccurrence()

5

In [20]:
class Employees:
    empName = "Khan" # class attribute | obj Att >> class Att
    def __init__(self, empName, empAge, empSalary):
        self.name = empName #self.name --> Object/instance variable/Attribute
        self.age = empAge
        self.salary = empSalary

emp1 = Employees("John", 30, 5000)
emp2 = Employees("Ali", 22, 1000)
emp3 = Employees("Khan", 21, 2000)

print(emp1.name, end=' ')
print(emp1.age, end=' ')
print(emp1.salary)

print(emp2.name, end=' ')
print(emp2.age, end=' ')
print(emp2.salary)

print(emp3.name, end=' ')
print(emp3.age, end=' ')
print(emp3.salary)

John 30 5000
Ali 22 1000
Khan 21 2000

In [15]:
class Student:
    def __init__(self, name, age, marks1, marks2, marks3):
        self.name = name
        self.age = age
        self.marks1 = marks1
        self.marks2 = marks2
        self.marks3 = marks3

    def average(self):
        average_sum =  self.marks1 +  self.marks2 +  self.marks3 // 3
        return average_sum
    
    def display(self):
        print("Student Name: ",self.name)
        print("Age: ",self.age)
        print("Student Average Marks: ",self.average())

    
s1 = Student("Afaq",22,90,90,90)
s1.display()

Student Name:  Afaq
Age:  22
Student Average Marks:  210

In [21]:
class Account:
    def __init__(self, name, balance, accountNumber):
        self.name = name
        self.balance = balance
        self.accountNumber = accountNumber

    def debit(self,amount):
        self.balance -= amount
        print("+-------------------+")
        print("Processing...")
        print("Amount Debited: ",amount)
        print("Transaction Successful")
        print("Remaining Balance: ",self.balance)
        print("+-------------------+")
        return
    
    def credit(self,amount):
        self.balance += amount
        print("+-------------------+")
        print("Processing...")
        print("Amount Credited: ",amount)
        print("Transaction Successful")
        print("Total Balance: ",self.balance)
        print("+-------------------+")

        return
    
    def displayBalance(self):
        print("+-------------------+")
        print("Account Owner : ",self.name)
        print("Account Number: ",self.accountNumber)
        print("Total balance : ",self.balance)
        print("+-------------------+")

        return
    
p1 = Account("Afaq",10000,17220031)
p1.debit(2000)
p1.displayBalance()
p1.credit(200)

+-------------------+
Processing...
Amount Debited:  2000
Transaction Successful
Remaining Balance:  8000
+-------------------+
+-------------------+
Account Owner :  Afaq
Account Number:  17220031
Total balance :  8000
+-------------------+
+-------------------+
Processing...
Amount Credited:  200
Transaction Successful
Total Balance:  8200
+-------------------+

In [28]:
class Employee:
    def __init__(self, name):
        self.name = name
        
s1 = Employee("khan")
print(s1.name)
del s1.name #delete the attribute name from the object s1

khan

In [13]:
class Student:
    def __init__(self, name, secretCode):
        self.name = name
        self.__secretCode = secretCode

    def __getSecretCode(self):
        print(self.__secretCode, "<--Yeh tah woh code")

    def setSecretCode(self):
        self.__getSecretCode()

s1 = Student("Khan", 2020)
# print(s1.name,s1.secretCode)
print(s1.setSecretCode())

2020 <--Yeh tah woh code
None

In [16]:
class A:
    var1 = 1

class B:
    var2 = 2

class C(A, B):
    var3 = 3

s1 = C()

print(s1.var1)

1

In [9]:
class Building:
    Name = "GulBuilds"


class Home(Building):
    def __init__(self, address, num_bedrooms, num_bathrooms):
        self.address = address
        self.num_bedrooms = num_bedrooms
        self.num_bathrooms = num_bathrooms

h1 = Home("pirpiai", 3,2)
print(h1.Name, h1.address, h1.num_bedrooms, h1.num_bathrooms)

GulBuilds pirpiai 3 2

In [9]:
class Car:
    Model = "Ford"

    @staticmethod
    def start():
        print("Chh..Chh..Chh\n","Car started..")
    
    @staticmethod
    def stop():
        print("Brrr..Brrr..Brrr\n","Car stopped..")

class ElectricCar(Car):
    def __init__(self, name):
        self.name = name
        

class PetrolCar(Car):
    def __init__(self, name):
        self.name = name


E2 = PetrolCar("Mercedes")
print(E2.Model)
print(E2.name)
E2.start()
E2.stop()
print("-----------------")


E1 = ElectricCar("Tesla")
print(E1.Model)
print(E1.name)
E1.start()
E1.stop()

Ford
Mercedes
Chh..Chh..Chh
 Car started..
Brrr..Brrr..Brrr
 Car stopped..
-----------------
Ford
Tesla
Chh..Chh..Chh
 Car started..
Brrr..Brrr..Brrr
 Car stopped..

In [17]:
#Multiple inheritance

class Dog:
    d_name = "Puppy"

class Cat:
    c_name = "Tom"
class Animal(Cat, Dog):
    property = "Dog&Cat"

a1 = Animal()
print(a1.c_name)
print(a1.d_name)
print(a1.property)

Tom
Puppy
Dog&Cat

In [29]:
#Super Method --> Used to Access methods of parent class from child class
class Car:
    def __init__(self, year, Model):
        self.year = year
        self.Model = Model

    @staticmethod
    def start():
        print("Chh..Chh..Chh\n","Car started..")
    
    @staticmethod
    def stop():
        print("Brrr..Brrr..Brrr\n","Car stopped..")

class ElectricCar(Car):
    def __init__(self, name, year, Model):
        super().__init__(year, Model)
        self.name = name
        
        

class PetrolCar(Car):
    def __init__(self, name, year, Model):
        super().__init__(year, Model)
        self.name = name
        # super().start()
        


E2 = PetrolCar("Mercedes", "2020", "A-Class")

print(E2.Model)
print(E2.name)
print(E2.year)
E2.start()
E2.stop()
print("-----------------")


E1 = ElectricCar("Tesla", "2020", "A-Class")

print(E1.Model)
print(E1.name)
print(E2.year)
E1.start()
E1.stop()

A-Class
Mercedes
2020
Chh..Chh..Chh
 Car started..
Brrr..Brrr..Brrr
 Car stopped..
-----------------
A-Class
Tesla
2020
Chh..Chh..Chh
 Car started..
Brrr..Brrr..Brrr
 Car stopped..

In [ ]:
#class Method

class Employee:
    name = "Ali Kumar"

    # def changeName(self, Name):
    #     self.Name = Name
        # 1) Employee.Name = "Khan g" 
        # 2) self.__class__.Name = "Khan g"
   # 3)
    @classmethod
    def changeName(selfcls, name):
        selfcls.name = name

e1 = Employee()
e1.changeName("Khan g")
print(Employee.name)
print(e1.name)

Khan g
Khan g

In [ ]:
#Property decorator

class Employee:
    def __init__(self, name, age, salary, benefit, rent):
        self.name = name
        self.age = age
        self.salary = salary
        self.benefit = benefit
        self.rent = rent
        self.total = str(salary + benefit + rent)

    # def calculatetotal(self):
        # self.total = str(self.salary + self.benefit + self.rent)

    @property
    def calculatetotal(self):
        return str(self.salary + self.benefit + self.rent)

        
s1 = Employee("khan", 22, 5000, 1000, 2000)
print(s1.name, s1.age)
print(s1.total)

s1.salary = 10000
print(s1.calculatetotal)

khan 22
8000
13000
8000
13000

In [1]:
#Operations with Two Complex Numbers using Dunder Functions

class Complex:
    def __init__(self, real, imaginary):
        self.real = real
        self.imaginary = imaginary

    # def add(self, num):
    #     newReal = self.real + num.real
    #     newImg = self.imaginary + num.imaginary
    #     return Complex(newReal, newImg)
    
    def __add__(self, num):
        newReal = self.real + num.real
        newImg = self.imaginary + num.imaginary
        return Complex(newReal, newImg)
    
    def __sub__(self, num):
        newReal = self.real - num.real
        newImg = self.imaginary - num.imaginary
        return Complex(newReal, newImg)

    def display(self):
        print(f"{self.real} + {self.imaginary}i")

c = Complex(1,4)
c.display()

d = Complex(1,4)
d.display()
print("------")
# e = c.add(d)

# e = c + d
e = c - d
e.display()  # Output: 2 + 8i

1 + 4i
1 + 4i
------
0 + 0i

In [4]:
class Circle:
    def __init__(self,radius):
        self.radius = radius

    def Area(self):
        return 3.14 * (self.radius ** 2)
    
    def perimeter(self):
        return 2 * 3.14 * self.radius
    
c = Circle(10)
print(c.Area())
print(c.perimeter())

314.0
62.800000000000004

In [9]:
class Employee:
    def __init__(self,role, department, salary):
        self.role = role
        self.department = department
        self.salary = salary

    def showdetails(self):
        print("Employee Role: ", self.role)
        print("Employee Department: ", self.department)
        print("Employee Salary: ", self.salary)

class Enginner(Employee):
    def __init__(self, name, age, role, department, salary):
        self.name = name
        self.age = age
        super().__init__(role, department, salary)

e = Enginner("Afaq Ahmad Khan", 25, "AI Engineer", "AI", 1000000)
print(e.name, e.age)
e.showdetails()

Afaq Ahmad Khan 25
Employee Role:  AI Engineer
Employee Department:  AI
Employee Salary:  1000000

In [ ]:
my_list = [1, 3, 5, 7, 9]
my_list.reverse()
print(my_list.reverse())

None